<!DOCTYPE html>
<html>
<head>
    <title>AI Interview Preparation Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Interview Preparation Portal</h1>

    <p>
        Practice HR and Technical Interviews with Artificial Intelligence.
        Get instant feedback and improve your interview skills.
    </p>

   
    <a href="/login">
    <button class="btn btn-primary">Login</button>

    </a>

    <a href="/register">
        <button>Register</button>
    </a>

    <a href="/category">
        <button>Start Interview</button>
    </a>

</div>

</body>
</html>