<!DOCTYPE html>
<html>
<head>
    <title>Performance Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Performance Report</h1>

    <h3>Total Interviews Attended: {{ total }}</h3>

    <h3>Average Score: {{ avg }}/10</h3>

    <h3>Performance Level: {{ level }}</h3>
    <br><br>

    <a href="/history">
        <button>Interview History</button>
    </a>

    <a href="/dashboard">
        <button>Back to Dashboard</button>
    </a>

</div>

</body>
</html>