<!DOCTYPE html>
<html>
<head>
    <title>Interview Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Interview Questions</h1>
    <h5>Time Left: <span id="timer">30</span> seconds</h5>
    <h3>Question 1</h3>
    <p>{{ question }}</p>

   <form action="/feedback" method="POST">
    <input type="hidden" name="category" value="{{ category }}">
    <textarea name="answer" rows="5" cols="50"
    placeholder="Type your answer here..."></textarea>

    <br><br>

    <button type="submit">Submit Answer</button>

</form>
<script>
let time = 30;

let timer = setInterval(function() {
    time--;
    document.getElementById("timer").innerText = time;

    if (time <= 0) {
        clearInterval(timer);
        alert("Time's up!");
        document.querySelector("form").submit();
    }
}, 1000);
</script>
</body>
</html>