<script>
document.addEventListener("DOMContentLoaded", function () {

    let timeLeft = 20;

    const timerElement = document.getElementById("time");

    const countdown = setInterval(() => {
        timeLeft--;

        timerElement.textContent = timeLeft;

        if (timeLeft <= 5) {
            timerElement.style.color = "red";
        }

        if (timeLeft <= 0) {
            clearInterval(countdown);
            alert("Time is up!");
            document.querySelector("form").submit();
        }

    }, 1000);

});
</script>